# Import Libraries

In [13]:
import pandas as pd
import time
from sqlalchemy import create_engine, text

# Read the "green_tripdata_2019-10.csv.gz" file using pandas

In [2]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz')

C:\Users\satiy\AppData\Local\Temp\ipykernel_23248\2667354967.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv.gz')

In [3]:
df.shape

(476386, 20)

In [4]:
df.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

# Data Type conversion

In [5]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

# Extract the schema for the dataframe

In [6]:
print(pd.io.sql.get_schema(df, name='green_trip_data'))

CREATE TABLE "green_trip_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

# Connect to the SQL engine

In [7]:
engine=create_engine("postgresql://postgres:postgres@localhost:5433/ny_taxi")

## Test connection

In [8]:
engine.connect()

# Writing data to the table

## Write the header rows first.

In [9]:
df.head(n=0).to_sql('green_taxi_data', con=engine, if_exists='replace')

0

In [10]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv.gz', iterator=True, chunksize=100000)

## Perform dataload to the table "green_taxi_data" in postgresql.

In [11]:
i=1
while True:
    try:
        time_start = time.time()
        df = next(df_iter)
        df.to_sql('green_taxi_data', con=engine, if_exists='append')
        time_end = time.time()
        duration = time_end-time_start
        print(f'Inserted chunk {i} which took {duration:.3f} s')
        i+=1
    except:
        break

Inserted chunk 1 which took 5.407 s
Inserted chunk 2 which took 5.101 s
Inserted chunk 3 which took 5.123 s

C:\Users\satiy\AppData\Local\Temp\ipykernel_23248\1357056882.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted chunk 4 which took 4.927 s
Inserted chunk 5 which took 3.413 s

## Ensure all rows of the dataset have been loaded.

In [15]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT COUNT(1) count FROM green_taxi_data"))
    for row in result:
        print("Rows returned:", row.count)

Rows returned: 476386

# Perform the dataload for "taxi_zone_lookup.csv" dataset.

In [16]:
zones = pd.read_csv('taxi_zone_lookup.csv')

In [17]:
zones.to_sql('zones', con=engine, if_exists='replace')

265